@media (max-width: 1280px) {
  body {
    padding: 0 40px;

  }

  .imagem {
    object-fit: cover;
  }
  .botoes-carrossel {
    display: flex;
    justify-content: center;
    gap: 30px;
  
  }
 

}

@media (max-width: 768px) {

  .informacoes.ativa {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .informacoes .descricao {
    width: 60%;
    text-align: center;
  }

  .botao {
    width: 40px;
    height: 40px;
    background-size: cover;
    border: none;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam376.cur), auto;
  }
  .botoes-carrossel {
    display: flex;
    justify-content: center;
    gap: 20px;
  
  }
  .botoes-carrossel .botao.selecionado {
    width: 45px;
    height: 45px;
  }
  

}

@media (max-width: 430px) {
  body {
    padding: 40px;
  }

  .informacoes .descricao {
    width: 100%;
  }

  .conteudo {
    min-height: 90vh;
    gap: 50px;
  }

  .botao {
    width: 25px;
    height: 25px;
    background-size: cover;
    border: none;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam376.cur), auto;
  }
  .botoes-carrossel {
    display: flex;
    justify-content: center;
    gap: 15px;
  
  }
}
